{% extends "dashboardjv/basedashjv.html" %}
{% load static %}

{% block title %}sd{% endblock title %}

{% block content %}
    {% csrf_token %}
    <div class="container">
        <div class="mb-2">
            <h2 class="text-muted">Buenos días, <span class="text-black">{{request.user.nombre}} {{request.user.apellido}}</span></h2>
            <p class="text-muted">Realiza seguimiento a las Juntas de Vecinos</p>
        </div> 

        <div class="row">
            <!-- Total Junta de Vecinos -->
            <div class="col-md-4">
                <div class="card mb-4 border-1 rounded-2">
                    <div class="card-body py-3">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-black">Total Junta Vecinos</span>
                            <select class="form-select form-select-sm filter-select" 
                                    data-filter-type="total" 
                                    id="filter-total" 
                                    style="background-color:#F5F6F8; width: auto;" 
                                    aria-label="Filtrar por">
                                <option selected>Filtrar</option>
                                <option value="today">Hoy</option>
                                <option value="week">Esta semana</option>
                                <option value="month">Este mes</option>
                                <option value="year">Este año</option>
                            </select>
                        </div>
                        <h3 class="card-title text-black d-flex align-items-center mt-2">
                            <span class="text-black d-flex align-items-center justify-content-center">
                                <i class="ri-team-line"></i>
                            </span>
                            <span class="text-black fw-bolder ms-2" id="total_juntas_count">{{total_juntas}}</span>
                        </h3>
                    </div>
                </div>
            </div>

            <!-- Habilitadas -->
            <div class="col-md-4">
                <div class="card mb-4 border-1 rounded-2">
                    <div class="card-body py-3">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-black">Total Junta Vecinos <span class="badge text-bg-success">habilitadas</span></span>
                            <select class="form-select form-select-sm filter-select" 
                                    data-filter-type="habilitadas" 
                                    id="filter-habilitadas" 
                                    style="background-color:#F5F6F8; width: auto;" 
                                    aria-label="Filtrar por">
                                <option selected>Filtrar</option>
                                <option value="today">Hoy</option>
                                <option value="week">Esta semana</option>
                                <option value="month">Este mes</option>
                                <option value="year">Este año</option>
                            </select>
                        </div>
                        <h3 class="card-title text-black d-flex align-items-center mt-2">
                            <span class="text-black d-flex align-items-center justify-content-center">
                                <i class="ri-team-line"></i>
                            </span>
                            <span class="text-black fw-bolder ms-2" id="habilitadas_juntas_count">{{habilitadas_juntas}}</span>
                        </h3>
                    </div>
                </div>
            </div>

            <!-- Inhabilitadas -->
            <div class="col-md-4">
                <div class="card mb-4 border-1 rounded-2">
                    <div class="card-body py-3">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-black">Total Junta Vecinos <span class="badge text-bg-danger">inhabilitadas</span></span>
                            <select class="form-select form-select-sm filter-select" 
                                    data-filter-type="inhabilitadas" 
                                    id="filter-inhabilitadas" 
                                    style="background-color:#F5F6F8; width: auto;" 
                                    aria-label="Filtrar por">
                                <option selected>Filtrar</option>
                                <option value="today">Hoy</option>
                                <option value="week">Esta semana</option>
                                <option value="month">Este mes</option>
                                <option value="year">Este año</option>
                            </select>
                        </div>
                        <h3 class="card-title text-black d-flex align-items-center mt-2">
                            <span class="text-black d-flex align-items-center justify-content-center">
                                <i class="ri-team-line"></i>
                            </span>
                            <span class="text-black fw-bolder ms-2" id="inhabilitadas_juntas_count">{{inhabilitadas_juntas}}</span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <!-- Gráfico tendencia -->
        <div class="row">
            <div class="col-12">
                <div class="card mb-4 border-1 rounded-2">
                    <div class="card-body py-4 my-1">
                        <span class="text-black fs-5 ms-4">Comparación de Juntas de Vecinos Integradas vs. Inhabilitadas</span>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="card mb-4 border-1 rounded-2">
                    <div class="card-body py-4 my-1">
                        <span class="text-black fs-5 ms-4">Cantidad de Juntas de Vecinos por Región</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

