{% extends "dashboardv/basevecino.html" %}
{% load static %}

{% block title %}Vecino{% endblock title %}

{% block content %}
    {% csrf_token %}
    <div class="container">
        <div class="mb-2">
            <h2 class="text-muted">Buenos días, <span class="text-black">{{request.user.nombre}} {{request.user.apellido}}</span></h2>
            <h5 class="text-muted">
                Perteneces a la Junta de Vecinos de : <span class="text-black">{{ junta.nombre_organizacion }}</span>
            </h5>
            <p class="text-muted">RUT: {{request.user.rut}}</p>
        </div> 

        <div class="row">
            <!-- Total Junta de Vecinos -->
            <div class="col-md-4">
                <div class="card mb-4 border-1 rounded-2">
                    <div class="card-body py-3">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-black">Total Miembros de mi familia</span>
                        </div>
                        <h3 class="card-title text-black d-flex align-items-center mt-2">
                            <span class="text-black d-flex align-items-center justify-content-center">
                                <i class="ri-group-line"></i>
                            </span>
                            <span class="text-black fw-bolder ms-2">{{miembros_total}}</span>
                        </h3>
                    </div>
                </div>
            </div>

            <!-- Habilitadas -->
            <div class="col-md-4">
                <div class="card mb-4 border-1 rounded-2">
                    <div class="card-body py-3">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-black">Total Miembros de mi familia <span class="badge text-bg-success">habilitados</span></span>
                        </div>
                        <h3 class="card-title text-black d-flex align-items-center mt-2">
                            <span class="text-black d-flex align-items-center justify-content-center">
                                <i class="ri-group-line"></i>
                            </span>
                            <span class="text-black fw-bolder ms-2">{{miembros_contar_habilitar}}</span>
                        </h3>
                    </div>
                </div>
            </div>

            <!-- Inhabilitadas -->
            <div class="col-md-4">
                <div class="card mb-4 border-1 rounded-2">
                    <div class="card-body py-3">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-black">Total Miembros de mi familia  <span class="badge text-bg-danger">inhabilitados</span></span>
                        </div>
                        <h3 class="card-title text-black d-flex align-items-center mt-2">
                            <span class="text-black d-flex align-items-center justify-content-center">
                                <i class="ri-group-line"></i>
                            </span>
                            <span class="text-black fw-bolder ms-2">{{miembros_contar_inhabilitar}}</span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
