{% extends "dashboarda/basedasha.html" %}
{% load static %}

{% block title %}Junta de Vecinos{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'dashboarda/css/styles.css' %}">
{% endblock css %}

{% block content %}
    <div class="container">
        <div class="mb-2">
            <h2 class="text-muted">Junta de Vecinos</h2>
        </div> 

        <div class="mb-2 d-flex justify-content-start gap-2">
            <a class="btn btn-primary" href="{% url "dashboarda:crear_juntavecinos" %}"><i class="ri-add-box-fill"></i> Crear junta de vecinos</a>
            <a class="btn btn-secondary" href="{% url "dashboarda:perfiles" %}"><i class="ri-admin-line"></i> Lista perfiles junta vecinos</a>
            <a class="btn btn-secondary" href="{% url "dashboarda:mapa" %}"><i class="ri-map-pin-line"></i> Mapa junta vecinos</a>
        </div>

        {% if messages %}
            {% for message in messages %}
            <div class="alert {% if message.tags == 'success' %}alert-success{% else %}alert-danger{% endif %}" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        <div class="row">

    <div class="container">
        <div class="col-md-12">
            <div class="card mb-4 border-1 rounded-2" style="background-color: #fcfcfc;">
                <div class="card-body py-4 my-1">
                    <h4 class="card-title text-black d-flex align-items-center">
                        <span class="text-black mb-2">Lista de Junta de Vecinos</span>
                    </h4>
                    <div class="table-responsive">
                        <table id="logsTableJuntaVecinos" class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Organizacion</th>
                                    <th scope="col">Region</th>
                                    <th scope="col">Comuna</th>
                                    <th scope="col">Fecha Integración</th>
                                    <th scope="col">Fecha Término</th>
                                    <th scope="col">Direccion</th>
                                    <th scope="col">Estado</th>
                                    <th scope="col">Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for junta in juntas %}
                                <tr>
                                    <td>{{junta.id_juntavecino}}</td>
                                    <td>{{junta.nombre_organizacion}}</td>
                                    <td>{{junta.id_comuna.id_region.nombre_region}}</td>
                                    <td>{{junta.id_comuna}}</td>   
                                    <td>{{junta.fecha_integracion|date:"Y-m-d"}}</td>   
                                    <td>
                                        {% if junta.fecha_termino %}
                                            <span class="badge text-bg-danger">{{junta.fecha_termino|date:"Y-m-d"}}</span>
                                        {% else %}
                                            <span class=""></span>
                                        {% endif %}
                                    </td>
                                    <td>{{junta.direccion}}</td> 
                                    <td>
                                        {% if junta.id_estado_id == 1 %}
                                            <span class="badge text-bg-success">habilitada</span>
                                        {% else %}
                                            <span class="badge text-bg-danger">inhabilitada</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="btn-group btn-group-sm" role="group">
                                            <!-- Botón principal que despliega el dropdown -->
                                            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                Acciones
                                            </button>
                                            
                                            <!-- Menú desplegable -->
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a class="dropdown-item edit-junta" href="{% url 'dashboarda:editar_juntavecinos' junta.id_juntavecino %}"> 
                                                        <i class="ri-edit-2-line"></i> Editar Junta
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="{% url "dashboarda:perfiles_junta" junta.id_juntavecino %}">
                                                        <i class="ri-admin-line"></i> Perfiles asociados
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="{% url "dashboarda:perfiles_vecinos" junta.id_juntavecino %}">
                                                        <i class="ri-user-heart-line"></i>  Vecinos asociados
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
<script src="{% static 'dashboarda/js/tables.js' %}"></script>
<script src="{% static 'dashboarda/js/comunasGet.js' %}"></script>
<script>
    $(document).ready(function(){
        $('.input-group.date').datepicker({
            format: 'yyyy-mm-dd',
            language: 'es',
            autoclose: true,
            todayHighlight: true,
            startDate: new Date() 
        });
    });
</script>
{% endblock script %}
