{% extends "dashboardjv/basedashjv.html" %}
{% load static %}

{% block title %}Editar Actividad{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'dashboardjv/css/styles.css' %}">
{% endblock css %}

{% block content %}
    <style>
        /* Limitar la altura del editor y agregar scroll */
        #editor-container {
            height: 200px; /* Altura inicial */
            max-height: 400px; /* Altura máxima */
            overflow-y: auto; /* Scroll vertical */
            border: 1px solid #ccc; /* Borde como textarea */
            resize: vertical; /* Permitir al usuario cambiar la altura */
        }
    </style>
    <div class="container">
        {% for message in messages %}
            <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-success{% endif %}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    </div> 
    <div class="container">
        <div class="col-md-12">
            <div class="card mb-4 border-1 rounded-2" style="background-color: #fcfcfc;">
                <div class="card-body py-4 my-1">
                    <div class="mb-2">
                        <h2 class="text-muted mb-3">Editar la Actividad</h2>
                        <p class="text-muted fs-6 mb-3">Esta actividad será notificada vía email para un total de 
                            {% if total_miembros <= 1 %}
                                <span class="badge text-bg-warning">{{total_miembros}} </span> vecino.
                            {% else %}
                                <span class="badge text-bg-warning">{{total_miembros}} </span> vecinos.
                            {% endif %}
                        </p>
                    </div> 


                    <form method="post">
                        {% csrf_token %}
                        <div class="row mb-3">
                            <div class="form-group col-md-3">
                                <label for="titulo">Título de la actividad</label>
                                <input type="text" name="titulo" id="titulo" value="{{ actividad.nombre }}" class="form-control">
                            </div>
                            <div class="form-group col-md-2">
                                <label for="fecha_inc">Fecha de inicio</label>
                                <input type="date" name="fecha_inc" id="fecha_inc" value="{{ actividad.fecha_inicio|date:'Y-m-d' }}" class="form-control">
                            </div>
                            <div class="form-group col-md-2">
                                <label for="hora_inc">Hora de inicio</label>
                                <input type="time" name="hora_inc" id="hora_inc" value="{{ actividad.horario_inicio|time:'H:i' }}" class="form-control">
                            </div>
                            <div class="form-group col-md-2">
                                <label for="hora_ter">Hora de término</label>
                                <input type="time" name="hora_ter" id="hora_ter" value="{{ actividad.horario_termino|time:'H:i' }}" class="form-control">
                            </div>
                            <div class="form-group col-md-2">
                                <label for="cupos">Cupos disponibles</label>
                                <input type="number" name="cupos" id="cupos" value="{{ actividad.cupos }}" class="form-control">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="estado_actividad">Estado de la actividad</label>
                                <select name="estado_actividad" id="estado_actividad" class="form-control">
                                    {% for estado in estados_actividad %}
                                        <option value="{{ estado.id_estadoactividad }}" {% if estado.id_estadoactividad == actividad.id_estadoactividad.id_estadoactividad %}selected{% endif %}>
                                            {{ estado.descripcion }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="form-group">
                                <label for="descripcion">Descripción</label>
                                <div id="editor-container">{{ actividad.descripcion|safe }}</div>
                                <input type="hidden" name="descripcion" id="descripcion" value="{{ actividad.descripcion }}">
                            </div>
                        </div>
                        <div class="form-group d-flex justify-content-start">
                            <a type="button" class="btn btn-secondary me-2" href="{% url "dashboardjv:listaactividades" %}">Cancelar</a>
                            <button type="submit" class="btn btn-success">Editar Actividad</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}

<script>
    flatpickr("#fecha_inc", {
        minDate: "today",
        locale: "es",
    });
    flatpickr("#fecha_termino", {
        minDate: "today",
        locale: "es",
    });

    {% comment %} // Configurar Flatpickr para los campos de hora
    flatpickr("#hora_inc", {
        enableTime: true, // Habilitar selección de hora
        noCalendar: true, // No mostrar calendario
        dateFormat: "h:i K", // Formato de hora 12 horas con AM/PM
        time_24hr: false, // Usar 12 horas con AM/PM
        locale: "es" // Configuración de idioma (español)
    });

    flatpickr("#hora_ter", {
        enableTime: true, // Habilitar selección de hora
        noCalendar: true, // No mostrar calendario
        dateFormat: "h:i K", // Formato de hora 12 horas con AM/PM
        time_24hr: false, // Usar 12 horas con AM/PM
        locale: "es" // Configuración de idioma (español)
    }); {% endcomment %}
</script>
<script>
    const Link = Quill.import('formats/link');
    Link.sanitize = function (url) {
        if (!url.startsWith('http://') && !url.startsWith('https://')) {
            return `http://${url}`;
        }
        return url;
    };

    var quill = new Quill('#editor-container', {
        theme: 'snow',
        placeholder: 'Escribe el contenido aquí...',
        modules: {
            toolbar: [
                [{ header: [1, 2, false] }], // Encabezados
                ['bold', 'italic', 'underline', 'strike'], // Formatos básicos
                ['link'], // Enlaces
                [{ 'list': 'ordered' }, { 'list': 'bullet' }], // Listas ordenadas y desordenadas
                [{ 'color': [] }, { 'background': [] }], // Colores y fondo
            ]
        }
    });

    // Sincronizar contenido del editor con el campo oculto
    var descripcionInput = document.querySelector('#descripcion');
    quill.on('text-change', function () {
        descripcionInput.value = quill.root.innerHTML; // Obtener el contenido en HTML
    });
</script>
{% endblock script %}
